<div class="flex center contain-pp">
  <img class="logo" alt="Tiddy emblem" src="https://res.cloudinary.com/iyikuyoro/image/upload/v1566560551/icon.png">
  <div>
    <h1 class="fonts heading">Privacy Policy</h1>
    <p class="fonts paragraphs">
      This privacy policy addresses anyone concerned about how Tiddy collects and manages their personally identifiable information and other data of its users on slack. In this document, we outline the kind of data we collect, what we use this data for and you can take control of your data.
    </p>
  </div>
  <div>
    <h2 class="fonts heading heading--left">What Data do we Collect</h2>
    <p class="fonts paragraphs">Tiddy collects and tracks data that enable it to perform the core duties of ensuring messages that have been flagged by the workspace uses are removed or moved as the case may be. below is a detailed list of data we collect and save:</p>
    <ul class="list">
      <li><strong>Team Id</strong>: We collect the id of the slack workspace that the app is installed on. This enables us to track the origin of requests.</li>
      <li><strong>Installer's access token</strong>: We also collect the installer's access token to perform administrative actions in the workspace. Administrative actions specified here includes but is not limited to deleting messages.</li>
      <li><strong>Scope</strong>: We collect the scope of permissions granted to us by a workspace for record purposes. This enables us to know exactly what scope permission we had to a workspace at the time of the last installation.</li>
      <li><strong>Team name</strong>: We collect the team name of the slack workspace to easily identify the slack workspace by name if an issue arises.</li>
      <li><strong>User ID</strong>: The user Id of any user that grants Tiddy the permission to always move messages on their behalf is collected. This enables Tiddy to identify the user that has granted up permission and not bother asking for permission again.</li>
      <li><strong>User Access Token</strong>: We collect the access token of users that have permitted Tiddy to always move messages on their behalf. This allows us to quickly perform the permitted action automatically.</li>
      <li><strong>Channel ID</strong>: We collect the id of channels that the workspace admin has set up to be watched by Tiddy. This allows Tiddy to remember what channels to monitor. Along with the channel id, we collect the emoji text, limit and the action to be taken.</li>
      <li><strong>Reactions</strong>: We monitor the number of watched reactions on channels that have been assigned to Tiddy.</li>
    </ul>
  </div>
  <div>
    <h2 class="fonts heading heading--left">Delete means delete</h2>
    <p class="fonts paragraphs">We are committed to respecting your right to be forgotten. When you ask us to delete something, we go ahead and delete it. This may not happen immediately across our entire platform as some backup may take some time to update.</p>
  </div>
  <div>
    <h2 class="fonts heading heading--left">Third-Party Data Sharing</h2>
    <p class="fonts paragraphs">We do not share, sell or distribute your data to any third party other than Slack which is the origin of the data in the first place.</p>
  </div>
  <div>
    <h2 class="fonts heading heading--left">Data Security</h2>
    <p class="fonts paragraphs">Your data is stored on a secure network that is only accessible to a few members of our team, who only ever access it when necessary and are tasked to keeping it confidential. All that data is encrypted and transferred over SSL.</p>
    <p class="fonts paragraphs">Our security protocol is just an extra step as all the data we collect are only really useful for communication between Tiddy and the Slack API (Application Programming Interface).</p>
  </div>
</div>
