version: 2
jobs:
  build: # name of your job
    machine: true
    steps:
      - checkout
      - run:
          name: Deployment
          command: |
            if [ "${CIRCLE_BRANCH}" = "master" ]; then
              export APP_NAME='tiddy'
            elif [ "${CIRCLE_BRANCH}" = "develop" ]; then
              export APP_NAME='tiddy-staging'
            fi

            echo $APP_NAME
            docker build --rm=false -t $APP_NAME .
            docker login --username=$HEROKU_EMAIL  --password=$HEROKU_API_KEY registry.heroku.com
            docker tag $APP_NAME:latest registry.heroku.com/$APP_NAME/web
            docker push registry.heroku.com/$APP_NAME/web
            WEB_DOCKER_IMAGE_ID=$(docker inspect $APP_NAME --format={{.Id}})
            echo "export WEB_DOCKER_IMAGE_ID=$WEB_DOCKER_IMAGE_ID" >> $BASH_ENV
            curl -n -X PATCH https://api.heroku.com/apps/$APP_NAME/formation \
              -d '{
              "updates": [
                {
                  "type": "web",
                  "docker_image": "'"$WEB_DOCKER_IMAGE_ID"'"
                }
              ]}' \
            -H "Content-Type: application/json" \
            -H "Accept: application/vnd.heroku+json; version=3.docker-releases" \
            -H "Authorization: Bearer $HEROKU_API_KEY"

      - run:
          name: 'What was my custom environment variable?'
          command: echo $(docker inspect $APP_NAME --format={{.Id}})

workflows:
  version: 2
  workflow:
    jobs:
      - build:
          filters:
            branches:
              only: develop
